/* html, 
body {
    top: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(135deg, #c1bebe, #777);
} */

.cv-body {
    background: linear-gradient(135deg, #c1bebe, #777);
    min-height: 80vh;
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 50vh;
    max-width: 600px;
    padding: 20px;
    background-image: url('../src/assets/black.jpg');
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(2, 217, 255, 0.983);
    animation: fadeIn 1s ease;
}

.cv-heading .heading-text {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Protest Strike', sans-serif;
    animation: slideDown 0.8s ease;
}
.cv-input-section {
    display: inline;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeInUp 1.2s ease forwards 0.4s;
}

.file-input {
    font-weight: bold;
    color: #fff;
    font-size: 19px;
    padding: 10px 20px;
    margin-top: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
    opacity: 0;
    animation: fadeInUp 1.2s ease forwards 0.5s;
}

.file-input:hover {
    background-color: #333;
    color: #fff;
}

.upload-btn {
    font-family: 'Protest Strike', sans-serif;
    padding: 5px 19px;
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    animation: fadeInUp 1.2s ease forwards 0.6s;
}

.upload-btn:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
}

.cv-progress-section .progress-bar {
    width: 100%;
    height: 10px;
    margin-top: 10px;
    opacity: 0;
    animation: fadeInUp 1.2s ease forwards 0.8s;
    color: aqua;
}

.progress-bar::-webkit-progress-bar {
    background-color: #fff;
}

.progress-bar::-webkit-progress-value {
    background-color: #28a7bd;
}

.msg1 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 1s ease forwards 1s;
}

.success-icon, .error-icon, .warning-icon {
    font-size: 2rem;
}

.cv-message-section {
    display: inline;
    align-items: center;
}

.cv-message-section .msg2 {
    font-family: "Italianno", cursive;
    font-size: 46px;
    margin-bottom: -20px;
}

.animated-letter {
    font-family: "Italianno", cursive;
    color: antiquewhite;
    font-size: 50px;
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.jobs-btn {
    font-family: 'Protest Strike', sans-serif;
    padding: 5px 10px;
    margin: 1px auto;
    display: block;
    background-color: #fff;
    color: #000;
    border: 2.5px solid #fff;
    border-radius: 900px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.jobs-btn:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .cv-container {
        width: 90%;
        margin-top: 5%;
    }

    .heading-text {
        font-size: 24px;
    }

    .msg2 {
        font-size: 36px;
    }

    .jobs-btn {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .cv-container {
        width: 95%;
        padding: 10px;
    }

    .heading-text {
        font-size: 20px;
    }

    .msg2 {
        font-size: 30px;
    }

    .jobs-btn {
        width: 100%;
    }
}
